tr.fail {
  background-color: lightcoral;
}

tr.norm {
  background-color: lightgreen;
}
tr.maint{
  background-color: lightyellow;

}

.error_view_button{
  text-decoration: none;
  height: 30px;
  width: 150px;
  margin-top: -10%;
  background: #fad7d7;
  float: center;
  display: block;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  outline: none;
  border: 0;

}
.error_view_button:hover{
  background: #fff;
  color: black;
}
.services_view_button{
  text-decoration: none;
  height: 30px;
  width: 150px;
  margin-top: -10%;
  background: #ddfad7;
  float: center;
  display: block;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  outline: none;
  border: 0;

}
.services_view_button:hover{
  background: #fff;
  color: black;
}
