.customerViewTrue{
    height: 150px;
    width: 150px;
    background: #4c7ba2;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
    display: block;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px rgb(76, 123, 162);


}
.customerViewFalse{
    height: 150px;
    width: 150px;
    background: #ed0c0c;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
    float: left;
    display: block;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px rgb(214, 79, 79);
}
.ticketInfoG{
    height: 30px;
    width: 150px;
    margin-top: -20%;
    background: #ddfad7;
    float: center;
    display: block;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.ticketInfoR{
    height: 30px;
    width: 150px;
    margin-top: -20%;
    background: #fad7d7;
    float: center;
    display: block;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

