<div *ngFor="let customer of customerDtos">

  <form class="customerViewTrue" *ngIf="customer.customerStatus; else templateName">
    <div class="ticketInfoG">
      <p>{{customer.firstName}} {{customer.lastName}}</p>
    </div>
  </form>

  <ng-template #templateName>
    <form class="customerViewFalse">
      <div class="ticketInfoR">
        <p>{{customer.firstName}} {{customer.lastName}}</p>
      </div>
      <button class="error_view_button" type="submit">View</button>
    </form>
  </ng-template>
</div>